{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.collection == 'research' and post.image %}
  {% capture publication_image %}
    {% if post.image contains "://" %}
      {{ post.image }}
    {% else %}
      {{ post.image | prepend: base_path }}
    {% endif %}
  {% endcapture %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item"{% if post.collection == 'research' and post.tags %} data-research-tags="{{ post.tags | join: '|' | downcase }}"{% endif %}>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <div class="{% if post.collection == 'research' %}archive__item-publication{% if publication_image %} has-image{% endif %}{% endif %}">
      {% if post.collection == 'research' and publication_image %}
        <div class="archive__item-publication-image">
          <img src="{{ publication_image | strip }}" alt="Preview for {{ title | strip_html }}">
        </div>
      {% endif %}
      <div class="archive__item-body">
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>
        
        {% if post.read_time %}
          <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}

        {% if post.collection == 'research' and post.authors %}
          <p class="archive__item-authors">{{ post.authors }}</p>
        {% endif %}

        {% if post.collection == 'teaching' %}
          {% assign teaching_timeframe = post.teaching_terms %}
          {% if teaching_timeframe == nil and post.date %}
            {% assign teaching_timeframe = post.date | date: "%Y" %}
          {% endif %}
          <p>{{ post.type }}, <i>{{ post.venue }}</i>{% if teaching_timeframe %}, {{ teaching_timeframe }}{% endif %}</p>
        {% elsif post.collection == 'research' %}
          <p class="archive__item-meta">Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        {% if post.collection == 'research' and post.tags %}
          <div class="archive__item-tags">
            {% for tag in post.tags %}
              <a href="#tag-{{ tag | slugify }}" class="research-tag-pill" data-filter-tag="{{ tag | downcase }}">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}

        {% assign hide_archive_citation = false %}
        {% if page.show_archive_citation == false %}
          {% assign hide_archive_citation = true %}
        {% endif %}

        {% capture archive_download_links %}
          {% if post.paperurl and post.slidesurl and post.bibtexurl %}
            <a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a>
          {% elsif post.paperurl and post.slidesurl %}
            <a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a>
          {% elsif post.paperurl and post.bibtexurl %}
            <a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a>
          {% elsif post.paperurl %}
            <a href="{{ post.paperurl }}">Download Paper</a>
          {% elsif post.slidesurl and post.bibtexurl %}
            <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a>
          {% elsif post.slidesurl %}
            <a href="{{ post.slidesurl }}">Download Slides</a>
          {% elsif post.bibtexurl %}
            <a href="{{ post.bibtexurl }}">Download Bibtex</a>
          {% endif %}
        {% endcapture %}

        {% if post.excerpt and site.read_more != 'enabled' %}
          {% capture post_excerpt_text %}{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
          <p class="archive__item-excerpt" itemprop="description">
            {{ post_excerpt_text | strip }}{% if hide_archive_citation and archive_download_links != blank %} {{ archive_download_links | strip }}{% endif %}
          </p>
        {% elsif post.excerpt and site.read_more == 'enabled' %}
          {% capture post_excerpt_text %}{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
          <p class="archive__item-excerpt" itemprop="description">
            {{ post_excerpt_text | strip }}{% if hide_archive_citation and archive_download_links != blank %} {{ archive_download_links | strip }}{% endif %}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong>
          </p>
        {% endif %}

        {% unless hide_archive_citation and post.excerpt and archive_download_links != blank %}
        {% if post.citation and post.paperurl and post.slidesurl and post.bibtexurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.citation and post.paperurl and post.slidesurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
        {% elsif post.citation and post.paperurl and post.bibtexurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.citation and post.paperurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.paperurl }}">Download Paper</a></p>
        {% elsif post.citation and post.slidesurl and post.bibtexurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl}}">Download Bibtex</a></p>
        {% elsif post.citation and post.slidesurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.slidesurl }}">Download Slides</a></p>
        {% elsif post.citation and post.bibtexurl %}
          <p>{% unless hide_archive_citation %}Recommended citation: {{ post.citation }}<br />{% endunless %}<a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.citation %}
          {% unless hide_archive_citation %}
            <p>Recommended citation: {{ post.citation }}</p>
          {% endunless %}
        {% elsif post.paperurl and post.bibtexurl %}
          <p><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.paperurl %}
          <p><a href="{{ post.paperurl }}">Download Paper</a></p>
        {% elsif post.slidesurl and post.bibtexurl %}
          <p><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.slidesurl %}
          <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
        {% elsif post.bibtexurl %}
          <p><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% endif %}
        {% endunless %}
      </div>
    </div>
  </article>
</div>
